.homeStyle {
  max-height: 50px;
  display: 'flex';
  text-decoration: none;
  list-style: none;
  margin-right: 700px;
}
.navigation{
display: flex;
flex-direction: row;
max-height: 50px;
}
.linkStyle {
    display: 'flex';
    margin: '1rem';
    flex-direction: 'row';
    text-decoration: 'none';
    list-style: none;
  };
.textLights {
    display: 'block';
    width: '15px';
    height: '15px';
  };
  